
.MainContainerForLogIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

}


.ImgForLogIn{
    height: 200px;
    margin-top: 12px;

}


.LogInTitleText{
    font-size: 25px;
    margin-top: 10px;
}


.FormContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    row-gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    /* margin-top: -13px; */


}


.SignInButton{
    height: 35px;
    width: 300px;
    border: none;
    border-radius: 10px;
    background-color: #227dff;
    color: white;
    font-size: 16px;
}


.ErrorsContainer{
    width: 217px;
    color: red;
}


.DemoUserButton{
    margin-bottom: 15px;
    padding: 7px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
}

.LoginInputField{
    width: 292px;
    height: 25px;
}

.SignUpButton{
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    margin-bottom: 10px;

}
