body{
  margin: 0%;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}


.NavBarAppleLogo{
  width: 14px;
  margin-right: 20px;
  background-color: #f6f6f6f7;

}


.NavBarATag{
  display: flex;
  /* background: gray; */
  width: 80px;
  justify-content: center;
  /* transition: all 1s ease-in; */

}


.NavBarATag1{
  display: flex;
  width: 50px;
  justify-content: center;
}

.CategoryNavLink{
  color: black;
}



.block{
  position: absolute;
  width: -webkit-fill-available;
  height: 300px;
  left: 10px;
  right: 10px;
  background: #f6f6f6f7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
  padding-left: 150px;
  backdrop-filter: blur(4px);
  /* transform-origin: top center; */
  transform: translateX(0%) translateY(5%);
  /* transition: 600ms transform; */

}

.EachLink{
  color: black;
  font-size: larger;
}


.Cartblock{
  position: absolute;
  width: -webkit-fill-available;
  height: 378px;
  left: 10px;
  right: 10px;
  background: #f6f6f6f7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  backdrop-filter: blur(4px);
  transform: translateX(0%) translateY(55%);
}

/* .NavBarATag:hover .menu{
  position: absolute;
  width: -webkit-fill-available;
  height: 300px;
  left: 10px;
  right: 10px;
  background: gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 50px;
  padding-left: 150px;
  backdrop-filter: blur(4px);
  transform: translateX(45%);
  transition: all 3s ease;
  transition: .32s
  transform-origin: top;
  transition-property: all;

}

.NavBarATag > .menu {
  display: none;
} */



.NavBarContainer{
  position: fixed;
  z-index: 999;
  width: -webkit-fill-available;
  background-color: #f6f6f6f7;
  display: flex;
  justify-content: space-evenly;
  height: 45px;
}

.ContainerInsideNavBar{
  display: flex;
  width: 985px;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}


.MagnifyingGlassIcon{
  border: none;
  background-color: #f6f6f6f7;
  background: transparent;
  cursor: pointer;
}


.ShoppingBagButton{
  border: none;
  background-color: #f6f6f6f7;
  background: transparent;
  cursor: pointer;
}



.CartContainer{
  position: relative;
  cursor: pointer;
}


.NumberOfItemsInCart{
  position: absolute;
  left: 11px;
  bottom: -5px;
  font-size: 13px;
  background: black;
  color: white;
  width: 14px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}





/* ------------------------------Cart drop Down -------------------- */

.UserBagTitle{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.ReviewBagButtonInDropDown{
    height: 40px;
    width: 125px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: #227dff;
    color: white;
    cursor: pointer;
}

.MainClassForPreviewItem{
  display: flex;
  column-gap: 10px;
  height: 70px;
  align-items: center;
}


.PreviewImage{
  width: 95px;
  height: 70px;
}

.DropdownProfileText{
  font-size: 13px;
  color: #7d7c7c;
  margin-top: 20px;
}


.DropdownTextUnderProfile{
  font-size: 15px;
  width: 90px;
  height: 18px;
  cursor: pointer;
}


.DropdownTextUnderProfile > i{
  margin-right: 10px;
}


.LogOutButtonInDropDown{
  width: 170px;
  border: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
  background-color: transparent;
  cursor: pointer;
}


.fa-user{
  margin-right: 16px;
}




.SignInSignUpButton{
  border: none;
  padding-left: 0px;
  cursor: pointer;
}
