.EachImgInCarousel{
    width: 680px;
    height: 484px;
}

.DivHoldingImgs{
    display: flex;
    width: 800px;
}

.react-multi-carousel-item{
    filter: opacity(0.1);
}

.react-multi-carousel-item--active{
    filter: none;
}

.DivHoldingCarousel{
    margin-top: 30px;
    margin-bottom: 30px;
}
